*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    font-size: 48px;
}

ul{
    display: flex;
    position: absolute;
    top: 0px;
    border: 1px solid red;
}
.container{
    position: relative;
}
li{
    text-decoration: none;
    padding: 10px;
    list-style: none;
}